
<div id="game-control">
    <div id="sound-control" {{action "toggleSound"}} {{bind-attr class="soundClass"}}></div>
    <div id="game-options">
      {{input type="checkbox" checked=infScrolling}} ∞ scrolling
        <br/>
      {{input type="checkbox" checked=speedUp}} speed up
    </div>
    <div id="game-title">Snakey</div>
    <div id="game-description">Eat the frogs. Save the world.</div>

    <div id="new-game-btn" {{action "newGame"}}>New Game</div>

    <audio id="game-song" loop>
        <source src="game-song.mp3" type="audio/mpeg">
    </audio>

    <div id="game-score"><span class="bold-text">Score:</span> {{score}}</div>
    <div id="game-highscore"><span class="bold-text">Highscore:</span> {{highScore}}</div>
</div>